.btn-color {
  background-color: rgb(68, 76, 229);
}
.btn-foot {
  border: 1px solid rgb(185, 185, 185);
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
